@use "./vendors/vendors" as *;
@use "./abstracts/abstracts" as *;
@use "./base/base" as *;
@use "./components/components" as *;
@use "./layout/layout" as *;
@use "./pages/pages" as *;
@use "./themes/themes" as *;
@use "settings" as *;

div.entrada__numero {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.operaciones {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
}
#resultado {
  margin-left: 30px;
}
